.App {
  background-image: url(./assets/light-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100% 40%;
}
.App-dark {
  background-image: url(./assets/dark-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100% 40%;
}

body {
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  padding: 5vw;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header h1 {
  letter-spacing: 10px;
}
#moon {
  transform: rotate(155deg);
  cursor: pointer;
}
#sun {
  cursor: pointer;
}
.page {
  height: 100vh;
}
.drag {
  text-align: center;
  font-weight: 600;
}
@media (min-width: 768px) {
  .App {
    background-image: url(./assets/light-desktop.png);
  }
  .App-dark {
    background-image: url(./assets/dark-desktop.jpg);
  }
  .main {
    width: 60vw;
    margin: auto;
    padding: 5vw 10vw;
  }
}
