.filters {
  display: flex;
  color: #9495a5;
  font-weight: 600;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  background-color: white;
  border-radius: 5px;
}

.filters p {
  margin: 0 10px;
}

.items {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;

  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.list {
  margin-top: 30px;
  border-radius: 5px;
}
#items-clear {
  display: flex;
  justify-content: space-between;
  color: #9495a5;
  padding: 14px 18px;
}
.desk-last-section {
  display: none;
}

.selected {
  color: #3a7cfd;
}

.items-dark {
  margin-bottom: 20px;
  background-color: #25273d;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}
.filters-dark {
  display: flex;
  color: #9495a5;
  font-weight: 600;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  background-color: #25273d;
  border-radius: 5px;
}
.filters-dark p {
  margin: 0 10px;
}

.desk-last-section-dark {
  display: none;
}
@media (min-width: 768px) {
  #items-clear {
    display: none;
  }
  .filters {
    display: none;
  }
  .desk-last-section,
  .desk-last-section-dark {
    display: flex;
    justify-content: space-between;
    color: #9495a5;
    padding: 14px 18px;
  }
  .desk-last-section-dark div .desk-last-section div {
    display: flex;
    justify-content: space-between;
    color: #5b5e7e;
  }
  .desk-last-section-dark div {
    display: flex;
    font-weight: 600;
  }
  .desk-last-section div {
    display: flex;
    font-weight: 600;
  }
  .desk-last-section div p,
  .desk-last-section-dark div p {
    margin-left: 10px;
    margin-right: 10px;
  }
  .desk-last-section p:hover {
    color: #494c6b;
    cursor: pointer;
  }

  .filters-dark {
    display: none;
  }
  .desk-last-section-dark p:hover {
    color: #e3e4f1;
    cursor: pointer;
  }
}
