.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #d1d2da;
  background-color: transparent;
  margin-top: 14px;
}

.container:hover input ~ .checkmark {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #55ddff 0%, #c058f3 100%) border-box;
  border-radius: 50%;
  border: 1px solid transparent;
}

.container input:checked ~ .checkmark {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  border: none;
}
.container input:checked ~ input {
  text-decoration: line-through;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}
.container input:checked ~ #texts-todos {
  text-decoration: line-through;
  color: #d1d2da;
  transition: opacity 300ms ease-in-out;
  transition-delay: 200ms;
  opacity: 0.5;
}
.container input:checked ~ #close {
  display: none;
}

.container .checkmark:after {
  left: 9px;
  top: 7px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

hr {
  opacity: 40%;
}

#close {
  color: #acacac;
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: flex;
}

#close:hover {
  color: #979797;
}

#texts-todos {
  font-size: 18px;
  color: #494c6b;
}

.item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-child {
  padding: 14px;
}

.item-dark-child {
  padding: 14px;
}
.item-dark #texts-todos {
  color: #c8cbe7;
}

.item-dark .container:hover input ~ .checkmark {
  background: linear-gradient(#25273d, #25273d) padding-box,
    linear-gradient(135deg, #55ddff 0%, #c058f3 100%) border-box;
  border-radius: 50%;
  border: 1px solid transparent;
}

.item-dark div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
